
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container-fluid">
    <!-- begin row -->
    <div class="row">
        <div class="col-md-12 m-b-30">
            <!-- begin page title -->
            <div class="d-block d-sm-flex flex-nowrap align-items-center">

                <div class="page-title mb-2 mb-sm-0">
                    <h1>Default Buttons</h1>
                </div>
                <div class="ml-auto d-flex align-items-center">
                    <nav>
                        <ol class="breadcrumb p-0 m-b-0">
                            <li class="breadcrumb-item active text-primary" aria-current="page">Default Buttons</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- end page title -->
        </div>
    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="row">
        <div class="col-12">
            <div class="card card-statistics">
                <div class="card-header">
                    <div class="card-heading"><h4 class="card-title">Rounded Button</h4></div>
                </div>
                <div class="card-body button-list">
                    <div class="pb-2 border-bottom">
                        <a href="javascript:void(0);" class="btn btn-primary">Primary</a>
                        <a href="javascript:void(0);" class="btn btn-secondary">Secondary</a>
                        <a href="javascript:void(0);" class="btn btn-info">Info</a>
                        <a href="javascript:void(0);" class="btn btn-warning">Warning</a>
                        <a href="javascript:void(0);" class="btn btn-danger">Danger</a>
                        <a href="javascript:void(0);" class="btn btn-success">Success</a>
                        <a href="javascript:void(0);" class="btn btn-light">Light</a>
                        <a href="javascript:void(0);" class="btn btn-dark">Dark</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end row -->
</div>


