
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@*<h1>Login</h1>*@
<div class="app-contant">
    <div class="bg-white comingsoon">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-6 align-self-center bg-gradient">
                    <div class="d-flex align-items-center h-100-vh">
                        <div class="comingsoon-wrap w-100">
                            <div class="row no-gutters align-items-center justify-content-center">
                                <div class="col-md-10 text-center m-b-40">

                                    <!-- Login text -->
                                    <div class="px-5">
                                        <h2 class="text-white display-3 font-weight-normal">Iniciar Sesión</h2>
                                        <span class="text-white">Bienvenido, por favor ingrese sus credenciales...</span>
                                    </div>

                                    <!-- newsletter -->
                                    <div class="row no-gutters">
                                        <div class="col-md-7 mx-auto">
                                            <form action="/" class="px-5 mt-3">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label class="control-label"><strong>Usuario*</strong></label>
                                                            <input type="text" class="form-control bg-white-inverse" placeholder="Usuario">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label class="control-label"><strong>Contraseña*</strong></label>
                                                            <input type="password" class="form-control bg-white-inverse" placeholder="Contraseña">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="d-block d-sm-flex  align-items-center">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                                                <label class="form-check-label" for="gridCheck">
                                                                    Remember Me
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 mt-3">
                                                        <a href="index.html" class="btn btn-round btn-outline-light">Sign In</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 align-self-end">
                    <img class="img-fluid" src="assets/img/bg/coming-soon-bg.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
