
@{
    ViewData["Title"] = "ReactionRecords";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@section Styles {
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
}
<div class="container-fluid" ng-app="ReactionRecordsApp" ng-controller="ReactionRecordsController">
    <div class="col-12">

        <!-- begin View Title -->
        <div class="row">
            <div class="col-md-12 m-b-30">
                <div class="d-block d-lg-flex flex-nowrap align-items-center">
                    <div class="page-title mr-2 pr-4 border-right"><h1>Historial <i class="fa fa-bar-chart text-primary"></i></h1></div>

                    <div class="d-flex align-items-center secondary-menu text-center" style="margin-left:1%">
                        <input type="text" name="name" ng-model="SrchString" class="form-control" placeholder="Busqueda General" />
                    </div>
                    <div class="mr-2 pr-4 border-right text-primary" id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                    </div>

                    <div class="d-flex align-items-center text-center" style="margin-left:2%">
                        <select class="form-control" ng-model="service_id_model" ng-change="GetDeviceList()" ng-options="c.id as c.nameservice for c in ServiceList">
                            <option value="" disabled>-- Servicio --</option>
                        </select>
                    </div>
                    @*<div class="d-flex align-items-center text-center" style="margin-left:2%">
                        <select class="form-control" ng-model="device_id_model" ng-change="GenerateGraph()" ng-options="c.id as c.namedevice for c in DeviceList">
                            <option value="" disabled>-- Dispositivo --</option>
                        </select>
                    </div>*@
                    <div class="d-flex align-items-center text-center" style="margin-left:1%">
                        <button class="btn btn-success" title="Descargar Excel" ng-click="DownloadReport()">
                            <i class="fa fa-file-excel-o"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End View Title -->
        <div class="card card-statistics">
            <div class="card-body">
                <div class="table table-responsive table-hover table-borderless">
                    <span style="color:black; margin-left:1%;"><strong>Total: {{ RecordsList.length }}</strong> </span>
                    <span style="color:black; margin-left:3%;"><strong>Reacciones Buenas: {{ good_reaction_count }}</strong> </span>
                    <span style="color:black; margin-left:3%;"><strong>Reacciones Neutrales: {{ neutral_reaction_count }}</strong> </span>
                    <span style="color:black; margin-left:3%;"><strong>Reacciones Malas: {{ bad_reaction_count }}</strong> </span>
                    <table class="table mb-0">
                        <thead class="bg-primary" style="color:aliceblue">
                            <tr>
                                <th scope="col">Dispositivo</th>
                                <th scope="col">Reaccion</th>
                                <th scope="col">Pregunta</th>
                                <th scope="col">Fecha</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="record in RecordsList">
                            <tr>
                                <th>{{ record.namedevice }}</th>
                                <th>{{ record.namereaction }}</th>
                                <td>{{ record.descriptionquestion }}</td>
                                <td>{{ record.createDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

@section scripts {

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alasql/2.2.2/alasql.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>
    <script src="~/App/Graph/ReactionRecordsApp.js"></script>
}

