@model ReactionParameterView 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ReactionLayout.cshtml";
}

<br />
<div class="row text-center">
    <div class="col-xl-12 col-sm-10">
        <h1>@Model.area</h1>
        <p>@Model.device</p>
    </div>
</div>

<div class="row">
    <div class="col-xl-4 col-sm-6">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="text-center p-2">
                    <div class="mb-2">
                        <button type="button" class="custombutton customsuccess"><i class="fa fa-smile-o" style="font-size: 1.90em;"></i></button>
                        @*<div class="custombutton customsuccess"><i class="fa fa-smile-o" style="font-size: 3.0em;"></i></div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-sm-6">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="text-center p-2">
                    <div class="mb-2">
                        <button type="button" class="custombutton customwarning"><i class="fa fa-meh-o" style="font-size: 1.90em;"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-sm-6">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="text-center p-2">
                    <div class="mb-2">
                        <button type="button" class="custombutton customdanger"><i class="fa fa-frown-o" style="font-size: 1.90em;"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
